.card-text {
    margin-top: 3em;
    font-family: 'Dancing Script', cursive;
}

ul#actions {
    align-self: auto;
    position: absolute;
    right: 1em;
}

ul#actions a {
    display: inline-block;
    margin: 0 1em;
}