<section class="next this-page-1">
    <h3>{{work?.title}}</h3>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card mb-2">
                    <img class="card-img-top shadow" src="{{backend.uploadsUrlPrefix}}/big/{{work?.imageSortHash}}.jpg" alt="{{work?.title}}">
                    <div class="card-body" style="position: relative;">
                        <ul *ngIf="canEdit()" id="actions">
                            <a routerLink="/new-work">
                                <li class="fa icon-large fa-edit"></li>
                            </a>
                            <a routerLink="/new-work">
                                <li class="fa icon-large fa-trash"></li>
                            </a>
                        </ul>
                        <p class="card-text">{{work?.desc}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>