<!-- Bootstrap alerts -->
<div class="alert alert-success" role="alert" (click)="resetAlert()" *ngIf="successCreatingBlog">
    <a class="close" aria-label="close">&times;</a>
    <b>Blog created successfully! </b>
</div>
<div class="alert alert-danger" role="alert" (click)="resetAlert()" *ngIf="failedCreatingBlog">
    <a class="close" aria-label="close">&times;</a>
    There was a <b>problem</b> while creating your blog, so it wasn't created successfully!
</div>

<section class="next this-page-1">
    <h3 class="title">Create Blog Post</h3>
    <div class="container b">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input class="form-control" formControlName="title" name="title" id="title" type="text"
                            placeholder="Title...">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <input class="form-control" formControlName="desc" name="desc" id="desc" type="text"
                            placeholder="Brief description...">
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3" style="min-height: 200px">
                        <img *ngIf="previewUrl" [src]="previewUrl" class="img-fluid" height="200" />
                    </div>
                    <b>Choose file</b>
                    <p>
                        <small>The preferred image ratio is classic 3:2. For example, a 1080x720 or 708x472
                            photo</small>
                    </p>
                    <p><small>Please keep the originals of your photos, as photos uploaded here are subject to data
                            compression</small></p>
                    <div class="form-group">
                        <input type="file" name="image" (change)="fileProgress($event)" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <angular-editor [placeholder]="'Enter content here...'" [(ngModel)]="bigFormContent" [ngModelOptions]="{standalone: true}" [config]="editorConfig">
                        </angular-editor>
                        <button style="margin-top: 10px" class="btn btn-primary" [disabled]="disableSubmitButton">
                            <span *ngIf="!disableSubmitButton">Create Blog</span>
                            <span *ngIf="disableSubmitButton">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Creating...
                            </span>
                        </button>
                        <app-scroll-to-top></app-scroll-to-top>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>