/* .card-title,
.recent-journal p {
  font-family: 'Dancing Script', cursive;
} */

.this-page-1 {
  font-size: 2rem;
  text-align: center;
  padding-top: 0;
}

.landing-message {
  margin-top: 2em;
  margin-bottom: 2em;
}

.landing-message .message {
  font-size: calc(1vw + 0.5em);
}

@media (min-width: 48em) {
  .landing-message .message {
    font-size: calc(0.6vw + 0.5em);
    font-weight: 100;
  }
}