<section class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="">
                        <div class="">
                            <img class="img-fluid" src="assets/img/chin.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 offset-md-0 offset-lg-1">
                    <div class="about-content">
                        <h4>Let Me <br>
                            Introduce Myself <br>
                            A Bit
                        </h4>
                        <p>I am a very great artist. I am a very great artist. I am a very great artist. I am a very
                            great artist</p>
                        <p>I know how to make great art. I know how to make great art. I know how to make great art. I
                            know how to make great art</p>

                        <a class="btn btn-primary" href="#">Download Cv</a>

                    </div>
                </div>
            </div>
        </div>
    </section>