.container {
    text-align: center;
}

.container .border {
    padding: 0.5em 5em;
    border: 1px solid rgba(0, 0, 0, 0.7);
    margin: 1em 5em;
    border-radius: 1rem;
}

.close {
    margin-right: -3em;
}

.form-control, .btn {
    display: inline-block;
    width: auto;
    margin: 1em;
}
