<section class="contact-section area-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <button type="submit" (click)="gotoUploadDetails()" class="btn btn-primary">Upload Files</button>
            </div>
        </div>
        <br>
        <div class="row">
            <br>
            <div class="col-12">
                <h2 class="contact-title">Settings</h2>
            </div>
            <div class="col-12">
                <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="subject" id="subject" type="text"
                                    placeholder="Instagram address...">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="subject" id="subject" type="text"
                                    placeholder="Youtube link...">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="subject" id="subject" type="text"
                                    placeholder="Facebook link...">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9"
                                    placeholder="About me..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</section>