.blog-info-link {
    margin-left: -40px;
}

.blog_details *, .desc * {
    max-width: 100% !important;
    overflow: hidden;
    word-break: break-all;
}

#post {
    font-size: calc(1vw + 1em);
}

@media (min-width: 50em) {
    #post {
        font-size: 1em;
    }
}

.delete {
    cursor: pointer;
}

.date {
    margin-left: 0;
}

.fa {
    vertical-align: baseline;
}
