<!-- <ol class="carousel-indicators">
    <li data-target="#artworkCarousel" data-slide-to="0" class="active"><a>1</a></li>
    <li data-target="#artworkCarousel" data-slide-to="1"><a>2</a></li>
</ol> -->

<ol class="carousel-indicators">
    <ng-container *ngFor="let num of numericLinks">
        <ng-container *ngIf="isCurrentPage(num); else showRouterLinks">
            <!-- Show carousel sliders -->
            <li data-target="#artworkCarousel" data-slide-to="0" [class.active]="carouselOneActive">
                <a>{{num}}</a>
            </li>
            <li data-target="#artworkCarousel" data-slide-to="1" [class.active]="carouselTwoActive">
                <a>{{num}}</a>
            </li>
        </ng-container>
        <ng-template #showRouterLinks>
            <!-- Show regular links -->
            <li routerLink="/work/p/{{num}}/1"><a>{{num}}</a></li>
            <li routerLink="/work/p/{{num}}/2"><a>{{num}}</a></li>
        </ng-template>
    </ng-container>
</ol>

<!-- {{splittedNumericLinks[num][0]}} should replace {{num}} -->
<!-- {{splittedNumericLinks[num][1]}} should replace second {{num}}s respectively-->
