<ol class="carousel-indicators">
    <ng-container *ngFor="let num of numericLinks">
        <ng-container *ngIf="isCurrentPage(num); else showRouterLinks">
            <!-- Show carousel sliders -->
            <li data-target="#artworkCarousel" data-slide-to="0" [class.active]="carouselOneActive">
                <a>{{getFirstSplittedPageNumberOfPage(num)}}</a>
            </li>
            <li data-target="#artworkCarousel" data-slide-to="1" [class.active]="carouselTwoActive">
                <a>{{getSecondSplittedPageNumberOfPage(num)}}</a>
            </li>
        </ng-container>
        <ng-template #showRouterLinks>
            <!-- Show regular links -->
            <!-- /1 and /2 at the end of the link helps us set the right <li> with Bootstrap ".active" class
                when the page is loaded, since the two items have the same page number {{num}}
            -->
            <li routerLink="/works/p/{{num}}/1"><a>{{getFirstSplittedPageNumberOfPage(num)}}</a></li>
            <li routerLink="/works/p/{{num}}/2"><a>{{getSecondSplittedPageNumberOfPage(num)}}</a></li>
        </ng-template>
    </ng-container>
</ol>

<!-- Reference:
    <ol class="carousel-indicators">
    <li data-target="#artworkCarousel" data-slide-to="0" class="active"><a>1</a></li>
    <li data-target="#artworkCarousel" data-slide-to="1"><a>2</a></li>
</ol> -->