<aside class="single_sidebar_widget popular_post_widget">
    <h3 class="widget_title">Recent Post</h3>
    <div *ngFor="let blog of recentBlogs" class="media post_item">
        <a routerLink="/view-blog/{{blog._id}}">
            <img src="{{backend.uploadsUrlPrefix}}/small/{{blog.imageSortHash}}.jpg" alt="post">
            <div class="media-body">
                <a href="single-blog.html">
                    <h3>{{blog.title}}</h3>
                </a>
                <p>{{blog.createdOn}}</p>
            </div>
        </a>
    </div>


    <!-- Foo -->
    <div class="media post_item">
        <img src="assets/img/post2.jpg" alt="post">
        <div class="media-body">
            <a href="single-blog.html">
                <h3>Getting the job done</h3>
            </a>
            <p>02 Hours ago</p>
        </div>
    </div>
    <div class="media post_item">
        <img src="assets/img/post1.jpg" alt="post">
        <div class="media-body">
            <a href="single-blog.html">
                <h3>Getting the job done</h3>
            </a>
            <p>03 Hours ago</p>
        </div>
    </div>
    <div class="media post_item">
        <img src="assets/img/post2.jpg" alt="post">
        <div class="media-body">
            <a href="single-blog.html">
                <h3>Getting the job done</h3>
            </a>
            <p>01 Hours ago</p>
        </div>
    </div>


</aside>

<div class="container blog_right_sidebar">
    <aside class="single_sidebar_widget popular_post_widget">
        <h3 class="widget_title">Recent Posts</h3>

        <div class="row">
            <div class="col-md-6 mb-5 media post_item">
                <img src="assets/img/post1.jpg" alt="post">
                <div class="media-body">
                    <a href="single-blog.html">
                        <h3>this is a show down of my latest work</h3>
                    </a>
                    <p>January 12, 2019</p>
                </div>
            </div>
            <div class="col-md-6 mb-5 media post_item">
                <img src="assets/img/post2.jpg" alt="post">
                <div class="media-body">
                    <a href="single-blog.html">
                        <h3>Getting the job done</h3>
                    </a>
                    <p>02 Hours ago</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-5 media post_item">
                <img src="assets/img/post1.jpg" alt="post">
                <div class="media-body">
                    <a href="single-blog.html">
                        <h3>Getting the job done</h3>
                    </a>
                    <p>03 Hours ago</p>
                </div>
            </div>
            <div class="col-md-6 mb-5 media post_item">
                <img src="assets/img/post2.jpg" alt="post">
                <div class="media-body">
                    <a href="single-blog.html">
                        <h3>Getting the job done</h3>
                    </a>
                    <p>01 Hours ago</p>
                </div>
            </div>
        </div>

    </aside>
</div>