<section class="next this-page-1">
    <h3 class="title">Upload Work</h3>
    <div class="container b">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3" style="min-height: 200px">
                        <img *ngIf="previewUrl" [src]="previewUrl" class="img-fluid" height="200" />
                    </div>
                    <b>Choose file</b>
                    <div class="form-group">
                        <input type="file" name="image" (change)="fileProgress($event)" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <input class="form-control" formControlName="title" name="title" id="title" type="text" placeholder="Title...">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <textarea class="form-control w-100" formControlName="description" name="description" id="description" cols="30" rows="9"
                            placeholder="Some description..."></textarea>
                        <button style="margin-top: 10px" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>