<section class="next this-page-1">
  <h3>Works</h3>
  <div id="artworkCarousel" class="carousel slide carousel-multi-item" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#artworkCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#artworkCarousel" data-slide-to="1"></li>
      <li data-target="#artworkCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">
        <div class="container">
          <div class="row">

            <div class="col-md-4">
              <div class="card mb-2">
                <a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img.jpg" alt="Card image cap"></a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-2"><a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img2.jpg" alt="Card image cap"></a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-2"><a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img4.jpg" alt="Card image cap"></a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-4">
              <div class="card mb-2"><a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img3.jpg" alt="Card image cap"></a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-2"><a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img1.jpg" alt="Card image cap"></a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-2"><a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img6.jpg" alt="Card image cap"></a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="carousel-item">
        <div class="container">
          <div class="row">

            <div class="col-md-4">
              <div class="card mb-2">
                <a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img1.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-2">
                <a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img2.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-2">
                <a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img3.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-4">
              <div class="card mb-2">
                <a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img4.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-2">
                <a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img5.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-2">
                <a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img6.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="carousel-item">
        <div class="container">
          <div class="row">


            <div class="col-md-4">
              <div class="card mb-2">
                <a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img5.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-2">
                <a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img3.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-2">
                <a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img2.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-4">
              <div class="card mb-2">
                <a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img6.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-2">
                <a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img1.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-2">
                <a routerLink="/view-work">
                  <img class="card-img-top shadow" src="assets/img/img.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Artwork title</h4>
                  <p class="card-text">Some description about artwork</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>