<div class="blog_right_sidebar">
    <aside class="single_sidebar_widget search_widget">
        <form action="#">
            <div class="form-group">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search Keyword">
                    <div class="input-group-append">
                        <button class="btn" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </aside>

    <aside class="single_sidebar_widget popular_post_widget">
        <h3 class="widget_title">Recent Post</h3>
        <div class="media post_item">
            <img src="assets/img/post1.jpg" alt="post">
            <div class="media-body">
                <a href="single-blog.html">
                    <h3>this is a show down of my latest work</h3>
                </a>
                <p>January 12, 2019</p>
            </div>
        </div>
        <div class="media post_item">
            <img src="assets/img/post2.jpg" alt="post">
            <div class="media-body">
                <a href="single-blog.html">
                    <h3>Getting the job done</h3>
                </a>
                <p>02 Hours ago</p>
            </div>
        </div>
        <div class="media post_item">
            <img src="assets/img/post1.jpg" alt="post">
            <div class="media-body">
                <a href="single-blog.html">
                    <h3>Getting the job done</h3>
                </a>
                <p>03 Hours ago</p>
            </div>
        </div>
        <div class="media post_item">
            <img src="assets/img/post2.jpg" alt="post">
            <div class="media-body">
                <a href="single-blog.html">
                    <h3>Getting the job done</h3>
                </a>
                <p>01 Hours ago</p>
            </div>
        </div>
    </aside>

    <aside class="single_sidebar_widget newsletter_widget">
        <h4 class="widget_title">Newsletter</h4>

        <form action="#">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter email" required>
            </div>
            <button class="btn btn-primary" type="submit">Subscribe</button>
        </form>
    </aside>
</div>