<section class="next this-page-1">
    <h3>Blogs</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="assets/img/m-blog-1.jpg" alt="">
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" routerLink="/view-blog">
                                <h2>Show down of my latest creations</h2>
                            </a>
                            <p>this is a show down of my latest work this is a show down of my latest work </p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i>Traditional</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="assets/img/m-blog-2.jpg" alt="">
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" routerLink="/view-blog">
                                <h2>Good artwork</h2>
                            </a>
                            <p>this is a show down of my latest work this is a show down of my latest work</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i>Culture</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-lg-4">
            <app-side-bar></app-side-bar>
            </div>

        </div>
    </div>
</section>