:root {
    font-size: calc(0.3em + 1vw);
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    color: black;
}

.navbar {
    padding: 20px 10px;
}

.navbar li.nav-item {
    font-size: 2rem;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .navbar li.nav-item {
        display: inline-block;
        text-align: center;
        color: black !important;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9rem;
    }
}

.nav-item>a:hover, .nav-item>a.current {
    /* to prevent danglings */
    margin-bottom: -2px;
    border-bottom: 2px solid #636364;
}

.navbar .fa {
    margin: 5px;
}

.fa.icon-large,
.fa.icon-large:link {
    color: #636364;
}

.fa.icon-large:visited {
    color: #636364;
}

.fa.icon-large:hover {
    color: #636364;
}

.fa.icon-large {
    font-size: 2rem;
}

@media (min-width: 768px) {
    .fa.icon-large {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .navbar .icon-large {
        margin-left: 1.1em;
    }
}

.carousel-caption {
    left: 5%;
    right: 0;
    bottom: 15%;
    text-align: left;
    background-color: #6363645e;
    width: 20em;
    min-height: 10vw;
    border-radius: 3em;
    padding: 1em 2em;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 1.2em;
}

@media (min-width: 768px) {
    .carousel-caption {
        width: 30vw;
    }
}

.carousel-indicators li {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

section+*,
section.next {
    margin-top: 3em;
}

section.recent-journal {
    color: black;
    background-color: #518dbe;
    min-height: 100px;
    margin: 50px 0 10px 0;
    padding: 5rem 5rem;
    text-align: center;
}

footer {
    margin-top: 5em;
    text-align: center;
}

footer .fa {
    padding: 1em 1.2em;
}

.area-padding {
    padding: 80px 0;
}

.btn {
    padding: 0.5em;
    background-color: #646363;
    border-color: #646363;
}

/* Namespaced styles chi- for chilbeth */
.chi-container {
    max-width: 1080px;
    margin: 0 auto;
    background-color: sandybrown;
}

.chi-flex {
    display: flex;
}

.this-page-1 {
    padding-top: 50px;
}

.this-page-1 .card {
    border: 0;
    margin-top: 2em;
}

@media (min-width: 768px) {
    .this-page-1 .card {
        margin-top: 4em;
    }
}

.this-page-1 .card-title,
.this-page-1 .card-text {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.this-page-1 .carousel-indicators li {
    background-color: #646363;
}

.this-page-1 .carousel-item .container {
    padding-bottom: 100px;
}

.this-page-1 h3 {
    text-align: center;
}

.this-page-1 h3,
.recent-journal h3 {
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    margin-bottom: 2em;
}

.alert {
    margin: 1em 5rem;
}